{% comment %}
  Google Analytics 4 (GA4) Implementation
  Note: Universal Analytics (analytics.js) was deprecated in July 2023.
  This uses the modern GA4 gtag.js approach.
{% endcomment %}
{% if site.google_analytics %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.google_analytics }}');
</script>
{% endif %}